@model  OgrenciNotMvc.Models.EntityFramework.Dersler
@{
    ViewBag.Title = "DersGetir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Guncelle", "Dersler", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.DersAd)
        @Html.TextBoxFor(m => m.DersAd, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(m => m.DersId)
    <div style="margin-top:15px">
        <button class="btn btn-info">Güncelle</button>
    </div>
}