@using OgrenciNotMvc.Models.EntityFramework
@*neyin nereden cekilecegini belirtmemiz gerekiyor o yuzden burası var (@model List<Dersler>) *@
@model List<Dersler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*popup kullanmak ıstersen arastırmayı unutma*@
<table class="table table-bordered">
    <tr>
        <th>Ders Id</th>
        <th>Ders Adı</th>
        <th>İşlemler</th>
    </tr>
    <tbody>
        @foreach (var ders in Model)
        {
            <tr>
                <td>@ders.DersId</td>
                <td>@ders.DersAd</td>
                <td>
                    <a href="/Dersler/Sil/ @ders.DersId" class="btn btn-danger">Sil</a>
                    <a href="/Dersler/Guncelle/ @ders.DersId" class="btn btn-success">Güncelle</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="/Dersler/YeniDers/" class="btn btn-primary">Yeni Ders Ekle</a>
