
@{
    ViewBag.Title = "YeniDers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*burada forma post eklendi sebebi ise gelen istege cevap vermek icin bos eklemelerın onune gecebılmek ıcındır*@
<form method="post" class="form-group">
    <div>
        <label>Ders Adı</label>
        <input type="text" class="form-control" name="DersAd" />
    </div>
    <div style="margin-top:10px">
        <button class="btn btn-info">Ders Ekle</button>
    </div>
</form>